# ======================================================
# EC2 설정
# ======================================================
EC2_PUBLIC_IP=xx.xxx.xxx.xxx                  # AWS 콘솔 → EC2 → 탄력적 IP 주소

# ======================================================
# AWS 설정
# ======================================================
AWS_ACCESS_KEY_ID=                            # ACCESS KEY ID 입력 (AWS IAM에서 생성한 키) --- IGNORE ---
AWS_SECRET_ACCESS_KEY=                        # SECRET ACCESS KEY 입력 (AWS IAM에서 생성한 키) --- IGNORE ---
AWS_REGION=ap-northeast-2                     # AWS 리전 (예: ap-northeast-2)
S3_BUCKET=bucket-name                         # S3 버킷 이름 

# ======================================================
# Kafka 설정
# ======================================================
KAFKA_BOOTSTRAP_SERVERS=localhost:9092        # EC2에서 Kafka가 실행 중인 호스트와 포트

# ======================================================
# Producer 설정
# ======================================================
TOTAL_EVENTS=10000    # 샘플 테스트 중이니 일단 그대로(전체 )
DELAY_SECONDS=0.005

# ======================================================
# 유저 설정
# ======================================================
NUM_USERS=50000